html

	head
		
		meta(charset='UTF-8')
		
		link(href='/css/kotakarsip.css', rel='stylesheet')

		style.
			* {
				font-size: 11px;
			}
			h1 {
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 20px;
				text-transform: uppercase;
			}
			td {
				font-size: 10px !important;
			}

	body

		h1.text-center Laporan Surat Masuk

		.table-responsive

		table.table.table-hover.table-bordered

			thead

				tr

					th #ID

					th Tanggal Keluar

					th Nomor Surat

					th Tujuan Surat

					th Perihal

					th Rak

			tbody

				style.

					tbody td {
						font-size: 12px;
					}

				- var i = 0

				- for row in data

					- var str = row.outbox_file

					- var ext = str.substr(str.length - 3, str.length);

					tr(style='cursor: pointer', data-toggle='modal', data-target='#detail-sm', data-id='#{ row.id }', data-title='#{ row.outbox_from }', data-rak='#{ row.rack_number }', data-img='/uploads/outbox/#{ row.outbox_file }', data-ext='#{ ext }')

						td ##{ row.id }

						td #{ date(i) }

						td #{ row.outbox_number }

						td #{ row.outbox_for }

						td #{ row.outbox_title }

						td #{ row.rack_number }

						- i += 1

				- endfor