extends ../layouts/layout


block title

	|	#{ title }


block content

	#body

		section.container.default-section

			.col-md-6

				.headline Disposisi

				form.form-custom(action='/master', method='POST', id='disposition')

					.col-md-12

						input(type='hidden', name='init', value='disposition', required)

						input(type='text', name='disposition_name', placeholder='Disposisi Kepada:', required)

						input(type='text', name='disposition_position', placeholder='Jabatan', required)

						button.btn-plus(title='Tambah')

							i.fa.fa-plus

						table.table.table-bordered

							thead

								tr

									th #ID

									th Disposisi Kepada:

									th Jabatan

									th Aksi

							tbody

								- for row in data_disposition

									tr(style='cursor: pointer')

										td ##{ row.id }

										td #{ row.disposition_name }

										td #{ row.disposition_position }

										td

											a.btn-aksi(href='#', title='Sunting', data-toggle='modal', data-target='#edit-modal', data-init='edit_disposition', data-id='#{ row.id }')

												i.fa.fa-pencil

											&nbsp;

											a.btn-aksi(href='', title='Hapus', data-toggle='modal', data-target='#hapus-modal', data-init='master_disposition', data-id='#{ row.id }')

												i.fa.fa-times

								- endfor

		hr

		section.container.default-section

			.col-md-12

				.headline

					| Administrator

				form.form-custom(action='/master', method='POST', id='users')

					.col-md-6

						input(type='hidden', name='init', value='users', required)

						input(type='text', name='user_displayname', placeholder='Nama Lengkap', required)

						input(type='text', name='user_login', placeholder='Nama Pengguna', required)

						input(type='email', name='user_email', placeholder='Alamat Email', required)

						input(type='password', name='user_pass', placeholder='Kata Sandi', required)

						button.btn-plus(title='Tambah')

							i.fa.fa-plus

					.col-md-9

						table.table.table-bordered

							thead

								tr

									th #ID

									th Nama Lengkap

									th Nama Pengguna

									th Alamat Email

									th Aksi

							tbody

								- for row in data_users

									tr(style='cursor: pointer')

										td ##{ row.id }

										td #{ row.user_displayname }

										td #{ row.user_login }

										td #{ row.user_email }

										td.hidden #{ row.user_pass }

										td

											a.btn-aksi(href='#', title='Sunting', data-toggle='modal', data-target='#edit-modal', data-init='edit_users', data-id='#{ row.id }')

												i.fa.fa-pencil

											&nbsp;

											a.btn-aksi(href='', title='Hapus', data-toggle='modal', data-target='#hapus-modal', data-init='master_users', data-id='#{ row.id }')

												i.fa.fa-times

								- endfor

		hr

		section.container.default-section

			.col-md-12

				.col-md-6

					.headline Penyimpanan Fisik

					form.form-custom(action='/master', method='POST', id='rack')

						.col-md-12

							input(type='hidden', name='init', value='rack', required)

							input(type='text', name='rack_number', placeholder='Rak', required)

							button.btn-plus(title='Tambah')

								i.fa.fa-plus

							table.table.table-bordered

								thead

									tr

										th #ID

										th Rak

										th Aksi

								tbody

									- for row in data_rack

										tr(style='cursor: pointer')

											td ##{ row.id }

											td #{ row.rack_number }

											td

												a.btn-aksi(href='#', title='Sunting', data-toggle='modal', data-target='#edit-modal', data-init='edit_rack', data-id='#{ row.id }')

													i.fa.fa-pencil

												&nbsp;

												a.btn-aksi(href='', title='Hapus', data-toggle='modal', data-target='#hapus-modal', data-init='master_rack', data-id='#{ row.id }')

													i.fa.fa-times

									- endfor

		#hapus-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')

			.modal-dialog

				.modal-content

					.modal-header

						button.close(type='button', data-dismiss='modal', aria-label='Close')

							span(aria-hidden='true') ×

						h4#title.modal-title Hapus

					.modal-body(style='background: #e74c3c; color: #fff;')

						| Apakah Anda yakin ingin menghapus ini?

					.modal-footer

						form(action="/master", method="POST", id="hapus")

							input(type="hidden", name="init", value="")
							input(type="hidden", name="id", value="")

							button.btn.btn-danger(name="delete", value="true") Ya

							button.btn.btn-default(type='button', data-dismiss='modal') Tidak




		#edit-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')

			.modal-dialog

				.modal-content

					.modal-header

						button.close(type='button', data-dismiss='modal', aria-label='Close')

							span(aria-hidden='true') ×

						h4#title.modal-title Sunting

					form(action="/master", method="POST", id="edit", class="form-custom")

						.modal-body

						.modal-footer

							input(type="hidden", name="init", value="")
							input(type="hidden", name="id", value="")

							button.btn.btn-success(name="edit", value="true") Simpan Perubahan

							button.btn.btn-default(type='button', data-dismiss='modal') Kembali

block script

	script.

		$('a.list[href="/master"]').parent().addClass('actived')

		$(".btn-aksi").click(function () {
			var init = $(this).data('init');
			var id = $(this).data('id');
			$('#hapus-modal input[name="init"]').val(init);
			$('#hapus-modal input[name="id"]').val(id);
		});

		$('a.btn-aksi[title="Sunting"]').click(function () {
			var init = $(this).data('init');
			var id = $(this).data('id');
			$('#edit-modal input[name="init"]').val(init);
			$('#edit-modal input[name="id"]').val(id);
			$('#edit-modal .modal-body').html("");

			if (init === "edit_disposition") {
				var disposition_name = $(this).parent().parent().find('td:nth-child(2)').text();
				var disposition_position = $(this).parent().parent().find('td:nth-child(3)').text();
				$("#edit-modal .modal-body").append('<label>Disposisi Kepada:</label><input type="text" name="disposition_name" value="' + disposition_name + '">');
				$("#edit-modal .modal-body").append('<label>Jabatan</label><input type="text" name="disposition_position" value="' + disposition_position + '">');
			} else if (init === "edit_users") {
				var user_displayname = $(this).parent().parent().find('td:nth-child(2)').text();
				var user_login = $(this).parent().parent().find('td:nth-child(3)').text();
				var user_email = $(this).parent().parent().find('td:nth-child(4)').text();
				var user_pass = $(this).parent().parent().find('td:nth-child(5)').text();
				$("#edit-modal .modal-body").append('<label>Nama Lengkap</label><input type="text" name="user_displayname" value="' + user_displayname + '">');
				$("#edit-modal .modal-body").append('<label>Nama Pengguna</label><input type="text" name="user_login" value="' + user_login + '">');
				$("#edit-modal .modal-body").append('<label>Alamat Email</label><input type="text" name="user_email" value="' + user_email + '">');
				$("#edit-modal .modal-body").append('<label>Kata Sandi</label><input type="password" name="user_pass" value="' + user_pass + '">');
			} else if (init === "edit_rack") {
				var rack_number = $(this).parent().parent().find('td:nth-child(2)').text();
				$("#edit-modal .modal-body").append('<label>Rak</label><input type="text" name="rack_number" value="' + rack_number + '">');
			}
		})