extends ../layouts/layout


block title

	|	#{ title }


block content

	#body

		include ../layouts/partials/search

		section.container.default-section

			.bread

				a(href='/') Beranda

				i.fa.fa-angle-right

				a(href='/surat-masuk') Surat Masuk

				i.fa.fa-angle-right

				b Lorem ipsum dolor sit

			br

			br

			.row

				- for row in data

					- var str = row.inbox_file

					- var ext = str.substr(str.length - 3, str.length);

					.col-md-6

						- if ( ext === "pdf" ) {

							iframe#pdf.object-circled(width='100%', height='500px', src='/uploads/inbox/#{ row.inbox_file }', type='application/pdf')

						- } else {

							img#img(src='/uploads/inbox/#{ row.inbox_file }', width='100%')

						- }


					.col-md-6

						ul.detail-arsip


								li

									label ID

									span ##{ row.id }

								li

									label Tanggal Masuk

									span #{ date }

								li

									label Asal Surat

									span #{ row.inbox_from }

								li

									label Nomor Surat

									span #{ row.inbox_number }

								li

									label Perihal

									span #{ row.inbox_title }

								li

									label Rak

									span #{ row.rack_number }

								li

									label Disposisi

									span

										- for row in data_disposisi

											- for (var i2 = 0; i2 < inbox_disposition.length; i2++) {

												- console.log(row.id)

												- if (inbox_disposition[i2] === row.id) {

													|  #{ "- " + row.disposition_name }

													br

												- }

											- }

										- endfor

								li

									label Keterangan

									span #{ row.inbox_desc !== '' ? row.inbox_desc : "-" }

				- endfor